body{
    color: #777777;
    background: lightgray;
    margin: 0;
}

h1, h2, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, #links, #index{
    margin: 0 20%;
}
h1 {
    background: #4aaaa5;
    margin-right: 23%;
    float: left;
    padding:  20px 25px 24px;
    color:white;
    border-bottom: #777777 solid 1px;

}
h2{
    margin-left: 15px;
    font-size: 30px;
    color: #4aaaa5;
}
h4 {
    margin-left: 15px;
    margin-bottom: 0;
    color: black;
}
input {
    margin: 5px 0 5px 15px;
}
img {
    float: left;
    width: 200px; 
    height: 200px;
    margin: 9px 15px 0;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px 15px 15px;
    font-size: 20px;
    line-height: 36px;
    
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    font-weight: normal;
}
a:hover {
    color:black;
    font-weight: bold;
}

hr {
    margin: 20px 15px;
    border: 2px #77777750 solid;
    border-radius: 50px;
}
#links {
    float: inherit;
    /* text-align: right; */
    line-height: 80px;
    font-size: 18px;
    width: 80%;
}

#header{
    background: #ffffff;
    border-bottom: #777777 solid 2px;
    width: 100%;
    height: 80px;
    overflow: inherit;
    
}

#index {
    /* width: 930px; */
    margin-top: 25px;
    border: #777777 solid 1px;
    background: #ffffff;
    padding: 15px;
    /* height: 350px; */
    /* overflow: hidden; */
}

#footer {
    margin-top: 80px;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #666666;
    color: white;
    border-top: solid #4aaaa5 10px;
}

.PortImg {
    float: left;
    margin: 0 10px 10px 0;
    height: 200px;
    width: 200px;
    border: 3px solid white;
    border-radius: 5px;
    /* background: blue; */
}
.PortImg:hover {
    border: #777777 3px solid;
}

.PortTxt {
    width: 100%;
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    padding: 25px 0;
    margin-top: 90px;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}